{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
    <h1>Edit {{user.full_name}}</h1>
    <img src="{{user.image_url}}" alt="User Profile Picture">
    <form action="/users/{{user.id}}/edit" method="POST">
        <input type="text" name="first_name" value="{{user.first_name}}"><br>
        <input type="text" name="last_name" value="{{user.last_name}}"><br>
        <input type="url" name="image_url" value="{{user.image_url}}"><br>
        <button type="submit">Save Changes</button>
    </form>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button type="submit">Delete User</button>
    </form>
    <a href="/users">All Users</a>
{% endblock %}