@mixin unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.unselectable {
	@include unselectable;
}

.EightBall-Background {
	background-color: #000;
	border-radius: 50%;
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
