<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Board</title>
  </head>
  <body onload="startTimer()">
    <h1>Boggle</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div id="board_container"></div>
    <ol>
      {% for row in board %}
      <li>{{row}}</li>
      {% endfor %}
    </ol>

    <p>Time remaining: <span id="timer"></span></p>

    <form action="/check-word" method="get">
      <label for="wordGuessInput">Enter Word Here: </label>
      <input id="wordGuessInput" type="text" name="word" />
      <input id="submitButton" type="submit" value="Submit" />
    </form>

    <script>
      // Focuses on the input field when the page reloads.
      document.getElementById("wordGuessInput").focus();

      // Initiates timer and keeps track of it when the page reloads.
      const timerElement = document.getElementById("timer");
      const wordGuessInput = document.getElementById("wordGuessInput");
      const submitButton = document.getElementById("submitButton");

      let seconds = 60;

      function startTimer() {
        let startTime = sessionStorage.getItem("startTime");
        if (startTime) {
          const elapsedTime = Math.floor((Date.now() - startTime) / 1000);
          seconds -= elapsedTime;
          if (seconds < 0) {
            seconds = 0;
          }
        } else {
          startTime = Date.now();
          sessionStorage.setItem("startTime", startTime);
        }

        const countdown = setInterval(function () {
          seconds--;
          timerElement.textContent = `${seconds} seconds`;

          if (seconds <= 0) {
            clearInterval(countdown);
            sessionStorage.clear();
            wordGuessInput.disabled = true;
            submitButton.disabled = true;
            alert("Time's up!");
            window.location.href = "/game-over";
          }
        }, 1000);
      }
    </script>
  </body>
</html>
