<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Board</title>
  </head>
  <body>
    <h1>Boggle</h1>

    <h2>Current Score: {{score}}</h2>
    <div class="board_container">
      {% for row in board %} {% for letter in row %}
      <div class="board_item">{{letter}}</div>
      {% endfor %} {% endfor %}
    </div>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <p>Time remaining:<span id="timer">---</span> seconds</p>

    <form action="/check-word" method="get">
      <label for="wordGuessInput">Enter Word Here: </label>
      <input id="wordGuessInput" type="text" name="word" required"/>
      <input id="submitButton" type="submit" value="Submit" />
    </form>

    <script>
      // Initiates timer and keeps track of it when the page reloads.
      const timerElement = document.getElementById("timer");
      const wordGuessInput = document.getElementById("wordGuessInput");
      const submitButton = document.getElementById("submitButton");

      // Focuses on the input field when the page reloads.
      wordGuessInput.focus();

      let seconds = 60;

      let startTime = sessionStorage.getItem("startTime");
      if (startTime) {
        const elapsedTime = Math.floor((Date.now() - startTime) / 1000);
        seconds -= elapsedTime;
        if (seconds < 0) {
          seconds = 0;
        }
      } else {
        startTime = Date.now();
        sessionStorage.setItem("startTime", startTime);
      }

      const countdown = setInterval(function () {
        seconds--;
        timerElement.textContent = seconds;

        if (seconds <= 0) {
          clearInterval(countdown);
          sessionStorage.clear();
          wordGuessInput.disabled = true;
          submitButton.disabled = true;
          alert("Time's up!");
          window.location.href = "/game-over";
        }
      }, 1000);

      // function startTimer() {
      //   let startTime = sessionStorage.getItem("startTime");
      //   if (startTime) {
      //     const elapsedTime = Math.floor((Date.now() - startTime) / 1000);
      //     seconds -= elapsedTime;
      //     if (seconds < 0) {
      //       seconds = 0;
      //     }
      //   } else {
      //     startTime = Date.now();
      //     sessionStorage.setItem("startTime", startTime);
      //   }

      //   const countdown = setInterval(function () {
      //     seconds--;
      //     timerElement.textContent = `${seconds} seconds`;

      //     if (seconds <= 0) {
      //       clearInterval(countdown);
      //       sessionStorage.clear();
      //       wordGuessInput.disabled = true;
      //       submitButton.disabled = true;
      //       alert("Time's up!");
      //       window.location.href = "/game-over";
      //     }
      //   }, 1000);
      // }
    </script>
  </body>
</html>
