<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Over</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div id="game-over-container">
      <h1 id="game-over-heading">Boggle</h1>
      <h2 id="game-over-subheading">Game Over!</h2>
      <p>Your score: <span id="final-score">{{final_score}}</span></p>
      <p>High score: <span id="high-score">{{high_score}}</span></p>
      <p>Words Found: <span id="words-found">{{words_found}}</span></p>

      <!-- Resets the page -->
      <form action="/reset" method="get">
        <input type="submit" value="Play Again" />
      </form>
    </div>
    <!-- <h1>Boggle</h1>
    <h2>Game Over!</h2>
    <p>Your score: {{final_score}}</p>
    <p>High score: {{high_score}}</p>
    <p>Words Found: {{words_found}}</p>

    <form action="/reset" method="get">
      <input type="submit" value="Play Again" /> -->
  </body>
</html>
